@{

}

<script type="text/javascript" src="~/js/cart/fetchItems.js"></script>

<div class="hover-container">
	<img class="inline-icon" src="~/Images/Icons/cart.svg" id="cart-icon" style="margin-right: 12px; cursor: pointer;" />
	<div class="hover-body" id="cart-info">

	</div>
	<script type="text/javascript">
		fetchCartItems();
	</script>
</div>