body {
    background-image: url('/Images/Large/background-light.svg');
    background-color: #CCCCCC;
    color: #245246;
    font-family: Bahnschrift, Arial;
}

.toolbar-themed {
    background-color: rgba(255, 255, 255, 0.85) !important;
    backdrop-filter: blur(4px);
}

.toolbar-item-themed {
    color: #000000 !important;
}


.btn-shared {
    display: inline-block;
    padding: 6px;
    border-radius: 6px;
    color: #245246 !important;
    border: 2px solid #245246;
    font-size: 13pt;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
}

    .btn-shared:hover {
        color: #144236;
        border-color: #144236;
        font-weight: bold;
        box-shadow: rgba(96, 96, 96, 0.5) 5px 5px;
    }

.light-mode-toggle {
    background: #FFFFFF;
}

.search-input {
    background: #F8F8F8;
    color: #282828;
}

.search-button {
    background: #F8F8F8;
}

    .search-button:hover {
        border-color: #D8D8D8;
    }

.search-button-text {
    color: #282828;
}

    .search-button-text:hover {
        color: #484848;
    }

.detailed-search-button {
    background: #F8F8F8 !important;
    color: #282828 !important;
}

    .detailed-search-button:hover {
        border-color: #D8D8D8 !important;
        color: #484848 !important;
    }

.footer-link {
    font-size: 16px;
    text-decoration: none;
    color: #282828;
    padding: 0 9px;
}

    .footer-link:hover {
        color: #181818;
        font-weight: 700;
    }

.detailed-search-background {

}

.detailed-search-box {
    border-color: #346256;
    background: rgba(221, 221, 221, 0.5);
}

.detailed-search-close {
    border-color: #346256;
}

.detailed-search-item-head {
    background: linear-gradient(#DADADA 0%, #D0D0D0 100%);
}

.detailed-search-input {
    background: linear-gradient(#F0F0F0 0%, #D8D8D8 100%);
    border-color: #CCCCCC;
    color: #222222;
}

    select.detailed-search-input option.detailed-search-option {
        background: #DDDDDD;
        color: #181818;
    }

.detailed-search-input-currency {
    background: linear-gradient(#F0F0F0 0%, #D8D8D8 100%);
    border-color: #CCCCCC;
    color: #222222;
}

.detailed-search-input-moneyvalue {
    background: linear-gradient(#F0F0F0 0%, #D8D8D8 100%);
    border-color: #CCCCCC;
    color: #222222;
}

    select.detailed-search-input-currency option.detailed-search-option {
        background: #DDDDDD;
        color: #181818;
    }

.detailed-search-btn-submit {
    background: linear-gradient(#CACACA 0%, #C0C0C0 100%);
    color: #111111;
}

.ad-section {
    display: block !important;
    width: 100%;
    height: 375px;
    padding: 2px 0px;
    overflow: hidden;
}

.ad-container {
    display: inline-block;
    width: calc(100% - 194px);
    margin: 0px 25px;
    height: 100%;
}

.ad-container-flex {
    display: flex;
    width: 100%;
    margin: 0;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.advert-card {
    background: rgba(196, 196, 196, 0.5);
    border: 1px solid #346256;
    border-radius: 6px;
    display: inline-block;
    margin: 6px;
    width: 240px;
    height: 350px;
    cursor: pointer;
    transition: 0.5s all;
    overflow: hidden;
}

    .advert-card:hover {
        border: 1px solid #043226;
        background: rgba(196, 196, 196, 0.75);
        color: #043226;
    }

.ad-card-img {
    display: inline-block;
    width: 90%;
    height: 122px;
    border-radius: 6px;
    margin: 5%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.ad-card-heading {
    font-size: 20px;
    font-weight: 700;
    margin: 5%;
    height: 60px;
    overflow: hidden;
}

.ad-card-info {
    font-size: 16px;
    font-weight: 500;
    margin: 5%;
}

.ad-scroll-btn {
    position: static;
    display: inline-block;
    width: 60px;
    height: 75px;
    margin: 0;
    padding: 187.5px 20px;
    cursor: pointer;
    transition: 0.75s;
    vertical-align: top;
    font-size: 22px;
}

    .ad-scroll-btn:hover {
        font-weight: 900;
        color: #144236;
        font-size: 28px;
        padding-top: 184.5px;
    }

.ad-scroll-btn-left {
    border-radius: 12px 0 0 12px;
}

    .ad-scroll-btn-left:hover {
        background: linear-gradient(0.25turn, rgba(14, 42, 36, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
        top: 0px;
        left: 0px;
    }

.ad-scroll-btn-right {
    border-radius: 0 12px 12px 0;
}

    .ad-scroll-btn-right:hover {
        background: linear-gradient(0.25turn, rgba(0, 0, 0, 0) 0%, rgba(14, 42, 36, 0.25) 100%);
        top: 0px;
        left: calc(100% - 64px);
    }

.hover-body {
    background: rgba(196, 196, 196, 0.85);
    border: 1px solid #346256;
}

.hover-container-item {
    border-color: #346256;
}

.terms-popup {
    background-color: rgba(196, 196, 196, 0.75);
    border-color: #346256;
}