@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link toolbar-item-themed" asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-mode="@ViewBag.LightMode" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-mode="@ViewBag.LightMode" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link toolbar-item-themed">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link toolbar-item-themed" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link toolbar-item-themed" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
