@{

}

<a class="btn-shared" asp-controller="Home" asp-action="PayResult" asp-route-res="success">Return success</a>
<a class="btn-shared" asp-controller="Home" asp-action="PayResult" asp-route-res="failure">Return failure</a>